%reset-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

%background-image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

body {
  position: relative;
  &::before {
    display: none;
    position: absolute;
    content: '';
    z-index: 9998;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba($black, 0.3);
  }
}


.logo {
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
}

.social-links {
  .menu__item:not(:last-of-type) {
    padding-right: 40px;
  }
}

a {
  color: inherit;
  &:hover {
    color: $body-color;
    text-decoration: none;
  }
}

.content {
  background-repeat: repeat;
  background-image: url("../images/bg-lines.png");
  background-size: auto;
  background-position: -1px;
  padding-top: 59px;
}

.slick-center img {
  transform: scale(1.16);
}

.slick-prev,
.slick-next {
  background-color: transparent;
  border: none;
  font-size: 0;
  padding: 0;
}

.slider-wrapper {
  height: 500px;
}

.widgets-slider {
  .slick-next,
  .slick-prev {
    position: absolute;
    z-index: 2;
    top: calc(50% - 52px / 2);
    @extend %background-image;
    width: 28px;
    height: 52px;
  }

  .slick-next {
    right: 0;
    background-image: url("../images/chevron_right.png");
  }

  .slick-prev {
    left: 0;
    background-image: url("../images/chevron_left.png");
  }

  .slick-list {
    padding: 25px 0;
    // overflow: visible;
  }

  .slick-center {
    position: relative;
    z-index: 3;
  }

  .slick-slide {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__item {
    margin: 0 -50px;

    img {
      box-shadow: -4px 1px 46px rgba($black, 0.2);
    }
    // box-shadow: $box-shadow-lg;
  }
}

.color-primary {
  color: $primary !important;
}

.color-orange {
  color: $orange !important;
}

.to-top {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: -5px;
  right: 60px;
  width: 50px;
  height: 43px;
  border-radius: 5px;
  background-color: #434769;

  transition: opacity 0.3s linear;

  &::before {
    @extend %background-image;
    background-image: url("../images/chevron-up.png");
    content: "";
    width: 19px;
    height: 12px;

    position: absolute;
    top: calc(50% - 12px / 2);
    left: calc(50% - 19px / 2);
  }
}

.to-top-is-shown {
  .to-top {
    opacity: 1;
    visibility: visible;
  }
}
