.header {
  $parent: &;
  color: $header-color;
  background-color: $primary;

  padding: 40px 0;

  &__logo {
    color: $white;
  }

  a {
    &:hover {
      color: $white;
    }
  }

  &__mobile-menu {
    display: none;

    margin-right: 40px;

    svg {
      fill: $white;
    }

    @include media-breakpoint-down(lg) {
      display: block;
    }
  }

  &__menu {
   
  }

  &__menu-container {
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }

  }

  &__social-links-container {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__social-links {
    
    .menu__item:not(:last-of-type) {
      padding-right: 40px;
    }
  }
}
