.review {
  position: relative;

  padding-top: 40px;
  padding-bottom: 40px;

  margin-bottom: 100px;

  &::before,
  &::after {
    @extend %background-image;
    width: 47px;
    height: 35px;
    position: absolute;
    content: "";
  }

  &::before {
    background-image: url('../images/quotes_up.png');
    top:0;
    left: 15px;
  }

  &::after {
    background-image: url('../images/quotes_down.png');
    bottom: 0;
    right: 15px;
  }

  &__body {
    font-size: 24px;
    line-height: 1.75;
    margin-bottom: 25px;
  }

  &__sign {
  }
}
