$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px
);

$primary: #648cff;
$orange: #fc6a42;
$font-size-base: 1.125rem;
$header-color: #e1e1e1;
$text-muted: #999999;
$body-color: #353854;
$yellow-light: #fcec64;

$footer-bg: #353854;
$footer-color: #b5b5c8;
$font-family-base: "Ubuntu", sans-serif;
